@model IEnumerable<BlogPlatform.Models.Genre>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cleveland Genres and Blog Hangout</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css" />
</head>
<body>
    <h1>Cleveland Genres and Blog Hangout</h1>
    <div id="genreArticle">
        @foreach (var genre in Model)
        {
        <article>
            <h3>
            <a href="/Genre/Details/@genre.Id">Genre Name: @genre.Name
            <img src="~/Images/wood.jpg" id="img">
                </a>
            
            </h3>
            
           
                @*<a><img src=@restaurant.LinkImage id="project_item"></a>*@

        </article>

        }
       </div>
</body>
</html>
