@model IEnumerable<BlogPlatform.Models.Genre>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index Page</h1>
    @foreach (var genre in Model)
    {
        <h3><a href="/Genre/Details/@genre.Id">Genre Name: @genre.Name</a></h3>
        <hr />
    }
    <hr />
    <h4><a href ="~/Views/Content/Details/">Link to another page</a></h4>
    <h4><a href="~/Views/Genre/Tags.cshtml">Link to Tags</a></h4>
</body>
</html>
