@model BlogPlatform.Models.Content
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/CSS/style.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1> Content Blog  Details</h1>
    <hr />    
    <h4>
        <a href="/Content/Update/@Model.ContentId">Update this entry</a>
        <br />
        <a href="/Content/Delete/@Model.ContentId">Delete this entry</a>
        <br />

        <p>Author: <span>@Model.Author</span></p>
        <p>Publish Date: <span>@Model.PublishDate</span></p>
        <p>Body: <span>@Model.Body</span></p>
        <p>
            Tags:
            <ul>
                @foreach (var tag in Model.ContentTags)
                {

                    <li>@tag.Tag.Name</li>

                }
            </ul>
        </p>



    </h4>
    <h3><a href="/Genre/Index">Return</a></h3>
</body>
</html>
