@model BlogPlatform.Models.Content
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1> Content Blog  Details</h1>
    <hr />
    <p>Blog Title: <span>@Model.Title</span></p>
    <a href="/Content/Update/@Model.ContentId">Update this entry</a>
    <a href="/Content/Delete/@Model.ContentId">Delete this entry</a>
    <a href="/Genre/Index">Return</a>
</body>
</html>
