@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1> Content Blog  Details</h1>
    <hr />
    <a href="/Genre/Index">Return</a>
</body>
</html>
