@model IEnumerable<BlogPlatform.Models.Content>
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/CSS/style.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Content Index</h1>
</body>
</html>
